<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>amaRomach</title>
    <link rel="stylesheet" href="../styles/navbar.css">
    <link rel="stylesheet" href="../styles/shopping-cart.css">
    <link rel="stylesheet" href="../styles/products.css">
    <link rel="stylesheet" href="../semantic/dist/semantic.min.css">
</head>
<body>
<nav class="ui header">
    <div>
        <a id="logo" href="index.html">
            <img src="../assets/amazon-logo.svg" alt="amazon">
        </a>
        <div id="search" class="ui action input">
            <input type="text" placeholder="Search...">
            <button class="ui primary large icon button">
                <i class="search icon"></i>
            </button>
        </div>
    </div>
    <div id="links">
        <div id="shopping-cart-container" class="right">
            <div id="shopping-cart">
                <span class="floated" id="cart-num-of-items">0</span>
                <i class="ui shop large icon"></i>
            </div>
            cart
        </div>
        <div class="ui floating right dropdown">
            <span class="dropdown-header">Account&Lists<i class="dropdown icon"></i></span>
            <div id="account-and-Lists" class="menu ui two column relaxed divided grid">
                <div class="row">
                    <div class="column">
                        <h4 class="ui header">Your Account</h4>
                        <div class="ui link list">
                            <a href="sign-up.html" class="item">sign up</a>
                            <a href="sign-in.html" class="item">sign in</a>
                        </div>
                    </div>
                    <div class="column">
                        <h4 class="ui header">Your Lists</h4>
                        <div class="ui link list" id="lists">
                            <a class="item">Create New List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>

<div id="products-list" class="ui cards five column grid"></div>

<script src="../node_modules/jquery/dist/jquery.min.js"></script>
<script src="../semantic/dist/semantic.min.js"></script>
<script src="../scripts/shopping-cart.js"></script>
<script src="../scripts/product.js"></script>
<script src="../scripts/quantifiable-product.js"></script>
<script src="../scripts/product-renderer.js"></script>
<script src="../scripts/product-list.js"></script>
<script src="../scripts/main.js"></script>
</body>
</html>