<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>amaRomach</title>
    <link rel="stylesheet" href="../styles/signing.css">
    <link rel="stylesheet" href="../semantic/dist/semantic.min.css">
</head>
<body>
<a href="index.html"><img id="logo" src="../assets/amazon_logo_black.jpg" alt="amaRomach"></a>
<div id="form-container">
    <h1 class="ui header">Sign in</h1>
    <form class="ui form">
        <div class="field">
            <label>Email (phone for mobile accounts)
                <input type="text" name="first-name">
            </label>
        </div>
        <div class="field">
            <label>Password
                <input type="text" name="last-name">
            </label>
        </div>
        <div class="field">
            <div class="ui checkbox">
                <input type="checkbox" tabindex="0">
                <label>keep me sign in</label>
            </div>
        </div>
        <button class="ui primary button" type="submit">Sign in</button>
    </form>
    <hr>
    <div class="ui horizontal divider">
        <p>New to AmaRomach?</p>
    </div>
    <a href="sign-up.html" class="ui button">Create Your AmaRomach Account</a>

    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../semantic/dist/semantic.min.js"></script>
</div>
</body>
</html>