body {
    overflow-x: hidden !important;
}

nav {
    background-color: #232f3e;
    color: #ffffff;
    margin: 0;
    height: 13%;
    min-height: 100px;
}

#search {
    margin-left: 3%;
    width: 40%;
}

#logo {
    margin-left: 1%;
    margin-top: 1%;
    width: 7%;
    text-decoration: none;
}

#links {
    color: #ffffff;
    height: 33%;
    margin-right: 5%;
    margin-left: 5%;
}

.right {
    float: right;
}

#links div {
    box-shadow: 0 1px 0 0 transparent;
    border: 1px solid transparent;
    cursor: pointer;
    text-decoration: none !important;
}

#links > *:hover {
    border: 1px solid #4f5965;
    box-shadow: 0 1px 0 0 rgba(255, 255, 255, .5);
}

#cart-num-of-items {
    color: #f08804;
    right: 1.45em;
    align-self: center;
}

#cart-num-of-items::before {
    content: '(';
}

#cart-num-of-items::after {
    content: ')';
}

#products-list {
    padding: 5%;
    overflow: hidden;
}

#products-list img {
    height: 290px;
}

.card a:hover {
    color: #fac847 !important;
}

.price::before {
    content: "$";
}

.card:hover img {
    opacity: 0.7 !important;
}

#shopping-cart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.menu.ui.two.column.relaxed.divided.grid {
    display: flex !important;
    flex-direction: row;
}

#shopping-cart-container {
    display: flex;
    flex-direction: row;
    color: #ffffff;
    position: relative;
    height: 146%;
    align-items: flex-end;
    top: -80%;
}

#links:hover #overlay {
    background-color: rgba(0, 0, 0, 0.5) !important;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.simple.dropdown > .menu {
    margin-top: 0 !important;
}

.image.content .description {
    display: inline-block;
    padding: 5%;
}

.image.content img {
    width: 85%;
}
