body {
    overflow-x: hidden !important;
}

.right {
    float: right;
}

#products-list {
    margin: 5%;
    overflow: hidden;
}

#products-list img {
    height: 250px;
}

.card a:hover {
    color: #fac847 !important;
}

.price::before {
    content: "$";
}

.card:hover img {
    opacity: 0.7 !important;
}

.image.content .description {
    display: inline-block;
    padding: 5%;
}

.image.content img {
    width: 85%;
}

.remove-product {
    margin-top: 5% !important;
    margin-right: 5% !important;
    cursor: pointer;
}
